html,body{background-color:#333;}
.m10a{margin:10px auto;}
.m50a{margin:50px auto;}
.mg3{margin:3px;}
.main{width:250px; padding:5px; background-color:#eee;}
.bdr1{border:1px solid #000;}
.main_title{height:30px; background:#38f;}
.tac{text-align:center;}
.btn{display:inline-block; width:50px height:10px;}
.btn-2{width:50px; height:50px;}
.mgt3{margin-top:3px;}
.screen{height:40px; line-height:40px;}
.tar{text-align:right;}
.fsz{font-size:2em;}
.bdrd6{border-radius:6px;}
