$color-black : #111111;
$color-gray:   #AAAAAA;
$color-silver: #DDDDDD;
$color-white:  #FFFFFF;
$color-purple: #B10DC9;
$color-fuchsia:#F012BE;
$color-maroon: #85144B;
$color-red: #FF4136;
$color-orange: #FF851B;
$color-yellow: #FFDC00;
$color-lime: #01FF70;
$color-green: #2ECC40;
$color-olive: #3D9970;
$color-teal: #39CCCC;
$color-aqua: #7FDBFF;
$color-blue: #0074D9;
$color-navy: #001F3F;