@import "color";

.s-label{
  margin:15px;
  padding:5px 10px;
  color:$color-white;
  font-weight:bold;
  border-radius:5px;
  border:1px solid;
  display:inline-block;
  }

.s-label-primary{
  background-color:$color-olive;
}
.s-label-second{
  background-color:$color-green;
  }
