@charset "UTF-8";
html{
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:100%;
  text-rendering:optimizelegibility;
  
}


.q-header {
  background-color: #111111;
  height: 100px; }
  .q-header .q-logo {
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 100px;
    float: left; }
  .q-header .q-menu {
    float: right;
    line-height: 100px; }
    .q-header .q-menu ul {
      height: 100px;
      list-style: none; }
      .q-header .q-menu ul li {
        margin: 0px 5px;
        padding: 0px 10px;
        display: inline-block;
        line-height: 100px;
        height: 100px; }
        .q-header .q-menu ul li a {
          color: white;
          font-weight: bold; }
        .q-header .q-menu ul li a:hover {
          text-decoration: none; }
      .q-header .q-menu ul li:hover {
        background-color: #dddddd;
        border-bottom: 4px solid #2ecc40; }
        .q-header .q-menu ul li:hover a {
          color: #2ecc40; }
.q-clearfix:after{
  clear:both}
.q-container{
  width:100%;}