@import "color";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.q-clearfix:after {
  clear: both;
}

.q-row{
  margin:10px 0px 0px 10px;
}

.q-row:after{
  content: "";
  display:block;
  clear:both;
}

.q-left {
  margin:0;;
  padding:10px;
  float:left;
  width:50%;
}

.q-left:hover{
  h2{
    color:$color-green;
  }
}

.q-right {
  margin:0;
  padding:10px;
  float:right;
  width:50%;
}

h2{
  font-size: 26px;
  font-weight: bold;
  color:$color-gray;
  padding:0px 0px 10px 0px;
  border-bottom: 2px solid $color-gray;
}

