@import "color";

.q-pagination {
  display: inline-block;
  margin: 20px auto;
  border: 1px solid $color-olive;
  border-radius: 4px;
  box-sizing: border-box;
  li{
    box-sizing: border-box;
    display:inline;
    position:relative;
  }

  li:nth-last-child(-n+1){
    border-with: 0px;
    float:left;


  }

  a{
    border-right:1px solid $color-olive;
    position:relative;
    float:left;
    padding: 5px 10px;
    margin-left:0px;
  }

  a:hover{
    background-color: $color-olive;
    color: $color-white;
    text-decoration: none;
  }

}

